---
import Layout from '../layouts/Layout.astro';
---

<Layout title="关于我">
	<h1>关于我</h1>
	<p>这是我的个人介绍页面。</p>
	<p>我正在学习 Astro，并且已经成功上线了我的第一个网站！</p>
    
    <!-- 练习：在这里试着放一张你放在 public 文件夹里的图片 -->
    <img src="/my-avatar.jpg" alt="头像" style="width: 200px; border-radius: 50%;" />
</Layout>
